<!--navbar-->
<mat-toolbar color="primary" class="app-header">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon [routerLink]="['']">menu</mat-icon>
    </button>
    <span class="text-warning">HOME</span>
    <span class="example-spacer"></span>
<!--    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">-->
<!--        <mat-icon>favorite</mat-icon>-->
<!--    </button>-->
    <div class="">
        <img class="imgSonatelAcademie" src="assets/images/SonatelAcademie.jpeg" alt="">
    </div>:
</mat-toolbar>
<!-- Fin navbar -->

